{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#1F4352">
    <title>Malta - Acesso VIP ao Camarim</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <div class="parallax-wrapper">
        <div class="video-background">
            <video autoplay muted loop id="myVideo" playsinline>
                <source src="{% static 'video/bgvideo3mbfc.mp4' %}" type="video/mp4">
            </video>
            <div class="overlay"></div>
        </div>
        <div class="content">
            <div class="header">
                <div class="logo-container">
                    <img src="{% static 'images/malta-logo.png' %}" alt="Malta Logo" class="malta-logo">
                </div>
                <div style="padding-top: 2vh;">
                    <h2 class="glowing-text">Acesso Exclusivo<br>ao Camarim</h2>
                </div>
            </div>
            <!-- Conteúdo do Formulário - Visível inicialmente -->
            <div id="form-content" class="form-section">
                <div class="form-container">
                    <form method="post" class="registration-form" id="registration-form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>

                        <div class="form-group">
                            <div class="iti-container">
                                <input type="tel" id="phone" name="phone" class="modern-input" placeholder="Seu WhatsApp" required>
                            </div>
                            {{ form.phone.errors }}
                        </div>

                        <div class="form-group">
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>

                        <button type="submit" class="submit-btn">
                            <span>GARANTIR MEU ACESSO</span>
                            <div class="btn-shine"></div>
                        </button>
                    </form>
                </div>
            </div>

            <!-- Conteúdo de Sucesso - Inicialmente oculto -->
            <div id="success-content" class="success-section" style="display: none;">
                <div class="success-message">
                    <div class="success-icon">✅</div>
                    <h2 class="glowing-text">Parabéns!</h2>
                    <p class="success-text">Você garantiu seu acesso VIP ao camarim do Malta!</p>
                    <p class="success-subtext">Em breve você receberá mais informações <br> por Whatsapp e e-mail.</p>
                </div>
            </div>           
        </div>
    </div>
    <!-- <footer class="footer">
        <p>© 2025 Banda Malta. Todos os direitos reservados.</p>
    </footer>  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>